{{define "title"}}Home{{end}}

{{define "main"}}
    

    <section class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h2>Welcome to Cake Country</h2>
            <p>Experience the sweetest slice of life with our handcrafted cakes.</p>
            <a class="btn" href="https://instagram.com/cakecountry_yyc" target="_blank" rel="noopener">DM us to place your order now!</a>
        </div>
    </section>

    <!-- Image Carousel Start -->
    <section class="carousel">
        <div class="carousel-container">
            {{range .CarouselImgs}}
                <img src="{{.}}" class="carousel-img">
            {{end}}
            <button class="carousel-btn prev">&#10094;</button>
            <button class="carousel-btn next">&#10095;</button>
        </div>
</section>
    <!-- Image Carousel End -->

    <main class="about" id="about_us">
        <div class="overlay"></div>
        <div class="about-text">
            <h2>Our Story</h2>
            <div class="our-story">
                <p>Hello, my dear customer! My name is Sabina and I’m your baker, cake decorator, and the owner of Cake Country, and I’d love to introduce you to my creation.</p>

                <p>Cake Country wasn’t created overnight. It’s the result of passion, growth, and a sweet journey that began back in May 2022. Our very first appearance was at a Farmers Market in Winnipeg, Manitoba, where our cakes quickly became a crowd favourite. Inspired by the love and support, we created something new for our vegan friends - Eight Layers Cakes. It was a delicious success!</p>

                <p>I spent that first chapter sharing our treats and unique flavours with a beautiful community across local markets. Then life brought new changes, and we moved to Calgary. Surrounded by breathtaking mountain views and fresh inspiration, we decided to rebrand and Cake Country was born.</p>

                <p>Since May 2023, we’ve been baking from our cozy home kitchen in Calgary, offering custom cakes, cupcakes, and treats for all occasions. Whether you're celebrating a birthday, a big milestone, or simply surprising a loved one, we’re honoured to be a part of it and can’t wait to add something beautiful and delicious to your next big moment..</p>
            </div>
        </div>
    </main>
{{end}}