{{define "title"}}Home{{end}}

{{define "main"}}
    <main class="about" id="ordering-instructions">
        <div class="overlay"></div>
        <div class="about-text">
            <h2>Instructions</h2>
            <div class="instructions">
                <h3>Deposits & Payments</h3>
                <p>A 50% deposit is required to confirm your order. Orders are not booked until the deposit is received. Please note: All deposits are non-refundable.</p>

                <h3>Last-Minute Orders</h3>
                <p>We accept last-minute orders if placed by 6:00 PM the day before pickup. These orders are limited to standard or simple designs only.</p>

                <h3>Custom Orders</h3>
                <p>For custom designs that require more detail and preparation, we kindly ask for 3–4 days’ notice.</p>

                <h3>Tiered Cakes & Delivery</h3>
                <p>We currently only offer delivery for cakes with 2 tiers and up.</p>
                <p>
                    <ul>
                        <li>Minimum order: $250</li>
                        <li>Delivery fee: $40</li>
                    </ul>
                </p>
                <span>Delivery is temporarily not available for single-tier cakes.</span>
            </div>
        </div>
    </main>
{{end}}