{{define "title"}}Menu & Flavours{{end}}

{{define "main"}}
<main class="menu-guide">
    <div class="menu-header">
        <h1>Cake & Cupcake Flavours</h1>
    </div>

    <div class="menu-category special-cakes">
        <h2>Winter Specials</h2>
            <ul>
                <li>White Forest</li>
                <li>Black Forest</li>
                <li>Gingerbread Spice</li>
                <li>Dark Chocolate Mandarin</li>
                <li>Brown Sugar Cinnamon/li>
                <li>BBrown Butter Vanilla Almond/li>
            </ul>
    </div>

    <div class="menu-grid">
        <div class="menu-column">
            <div class="menu-category">
                <h2>Best Sellers</h2>
                <ul>
                    <li>Classic Vanilla with a twist</li>
                    <li>Everything Chocolate</li>
                    <li>Red Velvet</li>
                    <li>Strawberry Obsession</li>
                </ul>
            </div>
            <div class="menu-category">
                <h2>Baker's Choice</h2>
                <ul>
                    <li>Oreo</li>
                    <li>Lotus Biscoff</li>
                    <li>Ferrero Rosher</li>
                    <li>Snickers</li>
                </ul>
            </div>
        </div>

        <div class="menu-column">
            <div class="menu-category">
                <h2>Flavor Experiments</h2>
                <ul>
                    <li>Raspberry Lemon</li>
                    <li>Banana Caramel</li>
                    <li>Red Velvet with Strawberries</li>
                    <li>Chocolate Coconut</li>
                </ul>
            </div>
            <div class="menu-category">
                <h2>Signature 8 Layers Cakes</h2>
                <ul>
                    <li>Napoleon Cake</li>
                    <li>Raspberry Napoleon Cake</li>
                    <li>Maple Cake</li>
                    <li>Ultimate Chocolate Cake</li>
                    <li>Honey Cake</li>
                    <li>Cinnamon Honey Cake</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="menu-footer">
        <p>Have a special flavor idea? We can create custom cakes and cupcakes just for you. Most of our flavors are available as vegan or eggless. Contact us to design your perfect treat!</p>
    </div>
</main>
{{end}}