{{define "title"}}Pricing{{end}}

{{define "main"}}
<main class="pricing-guide">
    <div class="pricing-header">
        <h1>Price Guide</h1>
    </div>

    <div class="pricing-grid">
        <div class="price-item">
            <div class="price-item-image">
                <img src="/static/images/pricing/bento.png" alt="Bento Cake">
            </div>
            <div class="price-item-description">
                <h2>Bento Cake</h2>
                <p>Our Bento Cake is perfect for a small, intimate celebration or a special treat for yourself and a friend. Serves 2-4 people</p>
                <div class="price-tag">starts at $30</div>
            </div>
        </div>

        <div class="price-item">
            <div class="price-item-image">
                <img src="/static/images/pricing/maxi_bento.png" alt="Maxi Bento Cake">
            </div>
            <div class="price-item-description">
                <h2>Maxi Bento</h2>
                <p>Maxi Bento Cake is made for cozy gatherings and can be customized to fit any theme or occasion. Serves 4-6 people</p>
                <div class="price-tag">starts at $50</div>
            </div>
        </div>

        <div class="price-item">
            <div class="price-item-image">
                <img src="/static/images/pricing/6_inch.png" alt="6 Inch Cake">
            </div>
            <div class="price-item-description">
                <h2>6 Inch Cake</h2>
                <p>The 6" cake is great for small gatherings or family celebrations. It offers a balanced portion for each guest. Serves 6-10 people</p>
                <div class="price-tag">starts at $60</div>
            </div>
        </div>

        <div class="price-item">
            <div class="price-item-image">
                 <img src="/static/images/pricing/8_inch.png" alt="8 Inch Cake">
            </div>
            <div class="price-item-description">
                <h2>8 Inch Cake</h2>
                <p>Perfect for medium-sized parties, provides enough servings to satisfy a larger group while still maintaining a personalized touch. Serves 12-18 people</p>
                <div class="price-tag">starts at $90</div>
            </div>
        </div>

        <div class="price-item">
            <div class="price-item-image">
                <img src="/static/images/pricing/10_inch.png" alt="10 Inch Cake">
            </div>
            <div class="price-item-description">
                <h2>10 Inch Cake</h2>
                <p>Designed for larger celebrations, whether it’s a wedding or a major milestone event, this cake can be customized to match the theme. Serves 20-30 people</p>
                <div class="price-tag">starts at $120</div>
            </div>
        </div>

        <div class="price-item">
            <div class="price-item-image">
                <img src="/static/images/pricing/custom_cake.png" alt="Custom Size Cake">
            </div>
            <div class="price-item-description">
                <h2>Custom Size</h2>
                <p>For cakes that serve parties of more than 30 people, please contact us directly to discuss custom options and pricing. We offer bespoke cake designs that cater to your specific needs and event themes.</p>
            </div>
        </div>
    </div>
</main>
{{end}}