/* Reset & Base */
        *, *::before, *::after {
            box-sizing: border-box;
            border-radius: 8px;
        }
        .rye-regular {
            font-family: "Rye", serif;
            font-weight: 400;
            font-style: normal;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: url('/static/images/background_main.png') center/cover no-repeat;
            color: #fff;
            line-height: 1.4;
        }
        a {
            color: #fcf1d5;
            text-decoration: none;
            transition: color 0.3s;
        }
        a:hover {
            text-decoration: underline;
            color: #D99E1B;
        }

        /* Top Bar */
        .top-bar {
            background: #111;
            color: #aaa;
            font-size: 0.8rem;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .top-bar div {
            display: flex;
            align-items: center;
            gap: 4px;
        }

        /* Header */
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 10px;
            background: #411a0b;
        }
        .logo {
            color: #fcf1d5;
            font-weight: bold;
            margin-bottom: 10px;
            font-family: "Crimson Pro", serif;
            font-style: normal;
            font-size: 1.4em;
            text-align: center;
        }
        nav ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            padding: 0;
            font-size: 1.2rem;
        }
        nav a {
            padding: 6px 10px;
            border-radius: 4px;
            transition: background 0.3s, color 0.3s;
        }
        nav a:hover {
            background: #ffb300;
            color: #1a1a1a;
        }

        /* Hero Section */
        .hero {
            position: relative;
            background: no-repeat center/60% url('/static/images/logo.png');
            width: 100%;
            height: 50vh;
            overflow: hidden;
            margin-top: 20px;
        }
        .hero .content {
            text-align: center;
            margin: auto;
            padding: 5px;
            border: 2px solid #65371d66;
            border-radius: 8px;
            height: 50vh;
            background: #65371d66;
            font-family: 'Rye', 'serif';
            align-content: center;
        }
        .hero h2 {
            font-size: 2rem;
            margin-bottom: 8px;
            font-weight: normal;
            color: #f4ddb1;
        }
        .hero p {
            font-size: 1rem;
            margin-bottom: 15px;
        }
        .btn {
            background: #dda854;
            color: #43281d;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 0.9rem;
            cursor: pointer;
            transition: opacity 0.3s;
            font-family: 'Crimson Pro', serif;
            font-weight: bold;
        }
        .btn:hover {
            opacity: 1;
            color: #000;
        }

        /* Main & Sections */
        main {
            overflow: auto;
        }

        main .overlay {
            position: relative;
            inset: 0;
            background: rgba(0,0,0,0.5);
        }

        main::before {
            content: "";
            inset: 0;
            background: radial-gradient(ellipse at center, transparent 40%, rgb(135 57 0) 100%);
            pointer-events: none;
        }

        .about {
            margin-top: 20px;
        }

        main .about-text {
            border: 2px solid #65371d66;
            border-radius: 8px;
            background: #65371d66;
        }
        main h2 {
            margin-left: 5%;
            color: #fcf1d5;
            margin-bottom: 8px;
            font-size: 1.4rem;
            font-family: 'Rye', serif;
            font-weight: normal;
            text-align: center;
        }
        main p {
            margin-bottom: 15px;
            font-size: 0.95rem;
        }

        main .our-story {
            margin-left: 5%;
            margin-right: 5%;
            color: #fcf1d5;
            font-size: 1rem;
        }

        .our-story {
            color: #fcf1d5;
        }
        .our-story:first-letter {
            /* Make it really big: */
            font-size: 6rem;         /* Adjust to taste */
            float: left;
            font-size: 6rem;
             line-height: 60px;
            padding-top: 4px;
            padding-right: 8px;
            padding-left: 3px;
            font-family: 'Crimson Pro';    /* Space between initial and text */
        }

        /* Contact Section */
        #contact_us {
            text-align: center;
            margin-top: 20px;
            padding: 5px;
            border: 2px solid #65371d66;
            border-radius: 8px;
            min-height: 20vh;
            background: #65371d66;
        }
        #contact_us h2 {
            font-family: 'Rye', 'serif';
            font-weight: normal;
            color: #fcf1d5;
            margin-bottom: 8px;
            font-size: 1.8rem;
        }
        #contact_us ul {
            list-style: none;
        }
        #contact_us li {
            margin: 8px 0;
            font-size: 0.95rem;
        }

        .about-text h2 {
            text-align: center;
            margin-left: 0;
        }

        .instructions, .weddings {
            font-family: 'Crimson Pro', serif;
            color: #fffdf2;
            text-align: center;
            font-weight: normal;
            padding-left: 0;
            padding-right: 0;
        }

        .wedding-sizes {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 12px;
            justify-content: center;      /* center on the main (row) axis */
            align-items: flex-start;  
        }
        .wedding-sizes > div ul {
            flex: 0 0 200px; 
            min-width: 0;
            margin: 0 4px;
            text-align: left;
            font-weight: lighter;
            align-items: flex-start;
            align-content: space-around;
            justify-content: space-evenly;
        }

        .wedding-tiers {
        }

        .wedding-tiers ul {
             margin: 0;              /* remove all default margins */
            padding: 0;             /* remove default padding */
            list-style-position: outside;
            padding-left: 1.2em;    /* your chosen indent for the bullet */
        }

        .wedding-sizes h4 {
            margin-bottom: 0;
        }

        .instructions, .weddings p, span {
            font-weight: normal;
        }

        .instructions, .weddings h3 {
            font-size: 1.2rem;
            margin-bottom: 0;
            color: #fcf1d5;
        }

        /* .instructions , .weddings ul {
            flex: 1;
            
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            
            margin-top: 0;
            margin-bottom: 0;
        } */

        li::marker {
            font-size: 0.8em; /* Adjust the value as needed */
        }

        /* Footer */
        footer {
            color: #aaa;
            text-align: center;
            padding: 10px;
            font-size: 0.8rem;
            margin-top: 20px;
        }
        footer a {
            color: #ffb300;
        }

        .content ul{
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .carousel {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .carousel-container {
            position: relative;
            width: 100%;    /* Limits max size on large screens */
            aspect-ratio: 2.43/1;    /* Keeps a nice ratio, remove if you want to adapt to image aspect */
            overflow: hidden;
            border-radius: 8px;
            border: 2px solid #65371d66;
            background: #65371d66;
        }
        .carousel-img {
            opacity: 0;
            transition: opacity 0.8s;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;   /* Shows full image, use cover for cropping */
            pointer-events: none;
        }
        .carousel-img.active {
            opacity: 1;
            pointer-events: auto;
            z-index: 1;
        }
        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: #dda854cc;
            color: #43281d;
            border: none;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            cursor: pointer;
            font-size: 1.5rem;
            z-index: 2;
            opacity: 0.8;
        }
        .carousel-btn.prev { left: 8px; }
        .carousel-btn.next { right: 8px; }

        /* Desktop Overrides */
        @media (min-width: 768px) {
        .top-bar {
            padding: 8px 20px;
            font-size: 0.9rem;
        }
        header {
            flex-direction: row;
            justify-content: space-between;
            padding: 5px;
        }
        .logo {
            font-size: 1.5rem;
            margin: 0;
        }
        nav ul {
            flex-direction: row;
            gap: 0;
        }
        .hero {
            background: no-repeat center/30% url('/static/images/logo.png');
        }
        .hero h2 {
            font-size: 3rem;
        }
        .hero p {
            font-size: 1.1rem;
        }
        .btn {
            padding: 15px 30px;
            font-size: 1rem;
        }
        main h2 {
            font-size: 2rem;
        }
        main p {
            font-size: 1rem;
        }
        #contact_us {
            margin: 40px auto;
            padding: 30px 20px;
        }
        footer {
            font-size: 0.9rem;
        }

        .wedding-sizes {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            flex-direction: row;
            align-content: flex-start;
            justify-content: center;
        }
    }